html,
body {
	max-width: 100%;
}

h1 {
	color: #024172 !important;
}

ul li h2 {
	font-weight: bold;
	color: #024172;
}
ul li p {
	font-size: 1em;
}
@media only screen and (max-width: 768px) {
	.container {
		margin-top: 66px;
	}
	/* .containerx {
		flex-direction: column;
	}
	.containerx .pan {
		padding: 10px;
	} */
}
