:root {
    --main-color: #f0ab00;
    --main-color-alt: #f0ab00;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
.carousel-inner img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}
.carousel-inner {
    width: 100%;
}
@media (max-width: 768px) {
    .carousel, .carousel-inner {
        height: 0;
        padding-bottom: 100%;
        /* This will make it square by setting the height to be equal to its width */
        position: relative;
    }

    .carousel
        {
            margin-bottom: -170px;
        }
    .carousel-inner img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/* Start video */

/* End video */
/* Start SAP */
.sap {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.sap .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sap .sap-num {
    padding: 20px;
    text-align: center;
}

.sap .sap-num i {
    color: var(--main-color);
}

.sap .sap-num h3 {
    margin: 30px 0;
}

.sap .sap-num p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* End SAP */
/* Start Get Started Today Button */
.getStartedToday {
    background-color: #f0ab00;
    /* Golden color to match the theme */
    border: none;
    /* Remove the default borders */
    border-radius: 8px !important;
    /* Rounded corners for a modern look */
    color: #fff;
    /* White text color */
    cursor: pointer;
    /* Hand cursor when hovering over the button */
    padding: 10px 50px;
    /* Padding around the text */
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Smooth transition for hover effects */
}

.getStartedToday:hover {
    background-color: #FF8C00;
    /* A bit brighter color on hover */
    transform: scale(1.05);
    /* Slightly enlarge the button on hover */
}

.getStartedToday:active {
    transform: scale(1);
    /* Reset size when button is pressed */
}
/* End Get Started Today Button */
/* Flipbox */
.unique_services-box {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 16px;
    /* Added for spacing between grid items */
    /* background: #efefef; Grey background to make the orange pop out more */
    padding: 20px;
    /* Padding for the outer container */
}

.unique_service {
    margin: 8px;
}

.unique_flip-box {
    /* background-color: #FFFFFF; Made the flip box background white for a clean look */
    width: 300px;
    height: 200px;
    border: 2px solid #f0ab00;
    /* Orange border for distinction */
    border-radius: 10px;
    perspective: 1000px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    /* Added subtle shadow for depth */
}

.unique_flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    display: flex;
    justify-content: center;
    align-items: center;
}

.unique_flip-box:hover .unique_flip-box-inner {
    transform: rotateY(180deg);
}

.unique_flip-box-front,
.unique_flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.unique_flip-box-front {
    background-color: #fff;
    color: #000;
    /* Grey color for the text */
    border-radius: 10px;
    border-top: 4px solid #f0ab00;
    /* Orange top border for a sleek look */
    border-bottom: 4px solid #f0ab00;
    /* Orange bottom border */
}

.unique_flip-box-front img {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    /* Spacing between the image and text */
}

.unique_flip-box-back {
    background-color: #f0ab00;
    /* Orange background */
    color: #fff;
    /* White text for better readability against the orange background */
    transform: rotateY(180deg);
    border-radius: 10px;
    padding: 16px;
}
/* FlipBoxes Responsivness */
@media (max-width: 768px) {

    /* Adjust this breakpoint if necessary */
    .unique_services-box {
        grid-template-columns: 1fr;
        /* Only one column on mobile */
        padding: 0px;
        /* Reduced padding for mobile */
        width: 100%;
    }

    .unique_flip-box {
        width: 100%;
        /* Make the flip box full width on mobile */
        margin: 0 auto;
        /* Center the flip box if max-width is set */
    }
}
/* Start About */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}
.hover-image img {
    transition: transform 0.3s ease-in-out;
}

.hover-image:hover img {
    transform: scale(1.1);
    /* Adjust this value as needed. 1.1 means 110% of the original size */
}
@media (max-width: 767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/* End About */
/* Start Video */
.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%);
}

.video video {
    width: 100%;
}

.video .text {
    width: 100%;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}

.video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text button {
    background-color: #f0ab00;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
}

/* End Video */
/* Start Features */
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .box .img-holder {
    position: relative;
    overflow: hidden;
}

.features .box .img-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
}

.features .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .box .img-holder img {
    max-width: 100%;
}

.features .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0;
}

.features .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}

.features .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}

.features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
}

.features .quality .img-holder::before {
    background-color: rgb(240 171 0 / 60%);
}

.features .quality h2::after {
    background-color: #f0ab00;
}

.features .quality a {
    color: #f0ab00;
    border-color: #f0ab00;
    background: linear-gradient(to right, #f0ab00 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time .img-holder::before {
    background-color: rgb(137 137 137 / 60%)
}

.features .time h2::after {
    background-color: #898989;
}

.features .time a {
    color: #898989;
    border-color: #898989;
    background: linear-gradient(to right, #898989 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion .img-holder::before {
    background-color: rgb(34 98 255 / 60%);
}

.features .passion h2::after {
    background-color: #2262ff;
}

.features .passion a {
    color: #2262ff;
    border-color: #2262ff;
    background: linear-gradient(to right, #2262ff 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .box:hover a {
    background-position: left bottom;
    color: white;
}

/* End Features */
/* Start Contact */
.contact {
    padding-top: 30px;
    /* Increased padding for visual space */
    perspective: 1500px;
    /* Setting a perspective for 3D transformations */
}

.contact .content {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    padding: 20px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: transform 0.5s;
    /* Transition for smooth effect */
    margin-top: 25px;
}

@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content form,
.contact .content .info {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    transition: transform 0.5s, box-shadow 0.5s;
}

.contact .content form:hover,
.contact .content .info:hover,
.contact .content:hover {
    transform: translateY(-5px) scale(1.05);
    /* Lift-up and scale effect on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.contact .content form {
    flex-basis: 70%;
}

.contact .content .info {
    flex-basis: 25%;
}

.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #f0ab00;;
    margin-bottom: 30px;
    width: 100%;
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 200px;
}

.contact .content form input[type="submit"] {
    background-color: #efefef;
    color: #f0ab00;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
}

@media (max-width: 767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
    }
}

.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #898989;
}

.contact .content .info .phone {
    display: block;
    color: #f0ab00;
    margin-bottom: 10px;
}

.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}

@media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
}

.contact .content .info address {
    color: #f0ab00;
    line-height: 2;
}

@media (max-width: 767px) {
    .contact .content .info address {
        margin-bottom: 40px;
    }
}

/* End Contact */