:root {
    --main-color: #f4a71f;
    --main-color-alt: #f4a71f;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
.carousel-inner img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}
.carousel-inner {
    width: 100%;
}
.carousel-item{
    position: relative;
}
.carousel-item::before{
    content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 30%);
}
.carousel{
    overflow: visible;
    background-color: rgb(0 0 0 / 30%);
}
.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.5em;
    text-align: center;
    color: white;
    /* Adjust the text color as required */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Optional: Adds a shadow to text for better readability */
}
@media (max-width: 768px) {
    .carousel, .carousel-inner {
        height: 0;
        padding-bottom: 100%;
        /* This will make it square by setting the height to be equal to its width */
        position: relative;
    }

    .carousel
        {
            margin-bottom: -170px;
        }
    .carousel-inner img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/* Start video */

/* End video */
/* Start numbers */
.key-points__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.key-points__list-item {
    position: relative;
    padding: 50px;
    transition: transform 0.3s ease-in-out;
}

.key-points__list-item:hover {
    transform: scale(1.05);
}

.key-point__text {
    display: inline-block;
    position: relative;
    padding-left: 70px;
}

.key-point__text i {
    color: #f4a71f;
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.key-point__text h5,
.key-point__text p {
    margin: 0;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.key-point__text h5 {
    font-size: 36px;
}

.key-points__list-item:hover .key-point__text i {
    color: #898989;
    transform: translateY(-50%) scale(1.1);
}

.key-points__list-item:hover .key-point__text h5,
.key-points__list-item:hover .key-point__text p {
    color: #898989;
}
@media only screen and (max-width: 600px) {
    .key-points__list {
        flex-direction: column;
        align-items: center;
    }

    .key-points__list-item {
        padding: 20px;
    }

    .key-point__text {
        padding-left: 50px;
    }

    .key-point__text i {
        font-size: 36px;
    }

    .key-point__text h5 {
        font-size: 28px;
    }

    .key-point__text p {
        font-size: 16px;
    }
}
/* End numbers */

/* Start Get Started Today Button */
.getStartedToday {
    background-color: #f4a71f;
    /* Golden color to match the theme */
    border: none;
    /* Remove the default borders */
    border-radius: 8px !important;
    /* Rounded corners for a modern look */
    color: #fff;
    /* White text color */
    cursor: pointer;
    /* Hand cursor when hovering over the button */
    padding: 10px 50px;
    /* Padding around the text */
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Smooth transition for hover effects */
}

.getStartedToday:hover {
    background-color: #FF8C00;
    /* A bit brighter color on hover */
    transform: scale(1.05);
    /* Slightly enlarge the button on hover */
}

.getStartedToday:active {
    transform: scale(1);
    /* Reset size when button is pressed */
}
/* End Get Started Today Button */
/* Flipbox */
.unique_services-box {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 16px;
    /* Added for spacing between grid items */
    /* background: #efefef; Grey background to make the orange pop out more */
    padding: 20px;
    /* Padding for the outer container */
}

.unique_service {
    margin: 8px;
}

.unique_flip-box {
    /* background-color: #FFFFFF; Made the flip box background white for a clean look */
    width: 300px;
    height: 200px;
    border: 2px solid #f4a71f;
    /* Orange border for distinction */
    border-radius: 10px;
    perspective: 1000px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    /* Added subtle shadow for depth */
}

.unique_flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    display: flex;
    justify-content: center;
    align-items: center;
}

.unique_flip-box:hover .unique_flip-box-inner {
    transform: rotateY(180deg);
}

.unique_flip-box-front,
.unique_flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.unique_flip-box-front {
    background-color: #fff;
    color: #000;
    /* Grey color for the text */
    border-radius: 10px;
    border-top: 4px solid #f4a71f;
    /* Orange top border for a sleek look */
    border-bottom: 4px solid #f4a71f;
    /* Orange bottom border */
}

.unique_flip-box-front img {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    /* Spacing between the image and text */
}

.unique_flip-box-back {
    background-color: #f4a71f;
    /* Orange background */
    color: #fff;
    /* White text for better readability against the orange background */
    transform: rotateY(180deg);
    border-radius: 10px;
    padding: 16px;
}
/* FlipBoxes Responsivness */
@media (max-width: 768px) {

    /* Adjust this breakpoint if necessary */
    .unique_services-box {
        grid-template-columns: 1fr;
        /* Only one column on mobile */
        padding: 0px;
        /* Reduced padding for mobile */
        width: 100%;
    }

    .unique_flip-box {
        width: 100%;
        /* Make the flip box full width on mobile */
        margin: 0 auto;
        /* Center the flip box if max-width is set */
    }
}
/* Start About */
.content {
    display: flex;
    flex-wrap: wrap;
}

.image-container,
.text-container {
    flex: 1;
    padding: 15px;
    /* margin-left: -70px; */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Optional: for responsiveness */
@media (max-width: 768px) {

    .image-container,
    .text-container {
        flex-basis: 100%;
    }
}
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
}
@media (max-width: 767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/* End About */
/* Start Video */
.videoContainer {
    position: relative;
    max-width: 100vw;
    overflow: hidden;
}

.videoText {
    position: absolute;
    top: 3.5%; /* Adjust as per your design requirement */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    background: #f4a71f;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
}

.videoText i {
    font-size: 30px;
    margin-right: 10px;
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Aspect ratio: 9/16 = 0.5625 */
}

.video video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

@media only screen and (max-width: 768px) {
    .videoText {
        font-size: 14px;
        top: 1%; /* Adjust as per your design requirement */
        width: 80%;
    }

    .videoText i {
        font-size: 20px;
    }
}



/* End Video */
/* Start Features */
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .box .img-holder {
    position: relative;
    overflow: hidden;
}

.features .box .img-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
}

.features .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .box .img-holder img {
    max-width: 100%;
}

.features .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0;
}

.features .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}

.features .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}

.features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
}

.features .quality .img-holder::before {
    background-color: rgb(240 171 0 / 60%);
}

.features .quality h2::after {
    background-color: #f4a71f;
}

.features .quality a {
    color: #f4a71f;
    border-color: #f4a71f;
    background: linear-gradient(to right, #f0ab00 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time .img-holder::before {
    background-color: rgb(137 137 137 / 60%)
}

.features .time h2::after {
    background-color: #898989;
}

.features .time a {
    color: #898989;
    border-color: #898989;
    background: linear-gradient(to right, #898989 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion .img-holder::before {
    background-color: rgb(34 98 255 / 60%);
}

.features .passion h2::after {
    background-color: #2262ff;
}

.features .passion a {
    color: #2262ff;
    border-color: #2262ff;
    background: linear-gradient(to right, #2262ff 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .box:hover a {
    background-position: left bottom;
    color: white;
}

/* End Features */
/* Start Contact */
.contact {
    padding-top: 30px;
    perspective: 1500px;
}

.contact .content {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    padding: 20px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: transform 0.5s;
    margin-top: 25px;
}

@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content form,
.contact .content .info {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    transition: transform 0.5s, box-shadow 0.5s;
}

.contact .content form:hover,
.contact .content .info:hover,
.contact .content:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.contact .content form {
    flex-basis: 70%;
    /* Modified */
}

.contact .content .info {
    flex-basis: 25%;
    /* Modified */
}

.contact .content form .main-input {
    padding: 10px;
    /* Modified */
    display: block;
    border: 1px solid #f4a71f;
    margin-bottom: 15px;
    /* Modified */
    width: 100%;
    font-size: 14px;
    /* Modified */
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 100px;
    /* Modified */
}

.contact .content form input[type="submit"] {
    background-color: #efefef;
    color: #f4a71f;
    padding: 10px 20px;
    /* Modified */
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    /* Modified */
    border-radius: 8px;
}

@media (max-width: 767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
    }
}

.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    /* Modified */
    color: #898989;
}

.contact .content .info .phone {
    display: block;
    color: #f4a71f;
    margin-bottom: 10px;
}

.contact .content .info h4:nth-of-type(2) {
    margin-top: 40px;
    /* Modified */
}

@media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
}

.contact .content .info address {
    color: #f4a71f;
    line-height: 2;
}

@media (max-width: 767px) {
    .contact .content .info address {
        margin-bottom: 40px;
    }
}

/* End Contact */