.container img{
    border-radius: 5px;
    height: 100vp;
    width: 100vp;
}
.container{
    margin-left: 20% !important;
}

#sticky-box {
    position: fixed;
    left: 16px;
    width: 250px;
    height: 370px;
    background-color: rgba(255, 255, 255);
    background-image: url('images/services-background.jpg');
    padding: 0px;
    font-size: 20px;
    z-index: 1000;
}



li{
    font-size: 20px;
}
#sticky-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

#sticky-box ul:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 2px;
    background: #000;
}

#sticky-box li {
    padding: 20px 0;
    margin-left: 40px;
    color: #000;
    position: relative;
}
#sticky-box li a{
    color: #000;
    text-decoration: none;
}

#sticky-box li:before {
    content: "";
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FF8C00;
}
ul li.active a {
    color: #2262ff !important;
    font-weight: bold !important;
}
.lead{
    font-size: 24px !important;
    justify-content: center;
    align-items: center;
}
.highlight-section {
    background-color: #f0ab00;
    /* Background color */
    color: white;
    /* Text color */
    padding-top: 10px;
    padding-bottom: 10px;
}

.highlight-section h1 {
    margin: 0;
    /* Remove default margin */
}
@media (max-width: 1400px) {
    .highlight-section {
        padding: 20px 15px;
        /* Adjust left/right padding for mobile */
    }

    .highlight-section h1 {
        font-size: 24px;
        /* Optionally adjust font size */
    }
    #sticky-box {
        display: none;
    }
}
footer {
    height: 500px;
    /* or whatever height you prefer */
    background: #ccc;
}


