.mandatory-star {
	color: #024172;
	margin-left: 5px;
}
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	/* Semi-transparent black */
	backdrop-filter: blur(5px);
	/* Apply blur */
	z-index: 9998;
	/* Just below the popup */
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease;
}
.popup-card {
	width: 28rem;
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	background-color: #ffffff;
	border-radius: 0.2rem;
	padding: 2rem 1.5rem;
	position: fixed;
	/* Changed from 'relative' to 'fixed' to ensure it stays above regardless of scrolling. */
	top: 40%;
	/* Added this to place the popup towards the top of the viewport. Adjust as needed. */
	left: 50%;
	/* Centering the popup on the x-axis */
	transform: translateY(-70vh) translateX(-50%);
	/* Adjusted the transform to account for centering */
	transition: all 0.8s ease;
	z-index: 9999;
	/* High value to ensure it's above most other elements */
}

.icon {
	width: 2.8rem;
	height: 2.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.content {
	justify-content: center;
}
.content h3 {
	font-size: 1.1rem;
	font-weight: 600;
	color: #024172;
}

.popBtn {
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	background-color: #024172;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.close-icon {
	font-size: 1rem;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
:root {
	--yellow: #21d0b3;
	--gray: #024172;
	--white: #fff;
	--black: #000;
	--blue: #2262ff;
}
/* Style for the outer container */
body .top_bar {
	background-image: url("images/topHeader_background2.avif");
}

body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-weight: 600;
}

.top_bar {
	padding: 0px 0;
	height: auto;
	overflow: hidden;
	background-color: #eaeaea;
	border-bottom: solid 1px #cccccc;
	position: relative;
	top: 0px;
	z-index: 4;
	font-size: 14px;
	line-height: 1.42857143;
	font-size: 14px;
	line-height: 1.42857143;
	position: fixed;
	z-index: 1000;
	max-height: 100px;
}

.top_bar a {
	padding: 0.5rem 1rem;
	text-decoration: solid #fff;
	color: black;
	font-weight: bold;
}

.top_bar a:hover {
	color: #21d0b3;
}

.top_bar_right_col {
	margin-right: 10px;
}

@media only screen and (max-width: 768px) {
	.contact-text {
			display: none;
		}
	.no{
		display: none;
	}
	.popup-card {
		display: none;
	}
		.backdrop {
			display: none;
		}
	.top_bar {
		padding: 10px 15px;
		font-size: 8.5px;
	}
	.icons {
		margin: 0 30px;
		display: contents;
	}

	.top_bar_left_col {
		margin-left: 0 !important;
	}
	.top_bar_left_col,
	.top_bar_right_col {
		width: 100%;
		justify-content: center;
		margin-bottom: 10px;
	}

	.top_bar_right_col {
		justify-content: space-around;
	}

	.top_bar a,
	.top_bar button {
		padding: 0.25rem 0.5rem;
	}
}

.topnavContainer {
	background-image: url(images/7rkat_grey_background.jpeg);
	min-height: 140px;
	position: fixed;
	z-index: 999;
	/* Lower than .topnav */
	width: 100%;
	/* Ensures it spans the full width of the viewport */
	top: 0;
	/* Positions at the top of the viewport */
}

.topnav {
	/* background-image: url(images/7rkat_grey_background.jpeg); */
	left: 8%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* Updated to space-around for better spacing */
	width: 75%;
	position: fixed;
	z-index: 1000;
	top: 48px;
}

.topnav a {
	margin-top: 1.2%;
	float: left;
	color: black;
	text-align: center;
	padding: 10px 8px;
	/* Reduced padding to get elements closer */
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}

.logo img {
	width: 293px;
	height: 41px;
	flex-shrink: 0;
	/* Ensuring the logo doesn’t shrink, adjust as needed */
}

.topnav a:not(.logo):hover {
	/* border-bottom: 2px solid #f0ab00; */
	color: #21d0b3;
}

.topnav a.active {
	border-bottom: 2px solid #21d0b3;
	color: #21d0b3;
}

.topnav .icon {
	display: none;
}

.topnav a.special-link {
	font-weight: bold;
	color: #21d0b3;
	transition: color 0.3s;
	position: relative;
	font-weight: bold;
}

.topnav a.special-link i {
	margin-right: 5px;
}

.topnav a.special-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	/* background-color: #21d0b3; */
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
}

.topnav a.special-link:hover {
	color: #024172;
}

.topnav a.special-link:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.topnav a.active.special-link {
	color: #024172;
}

.topnav a.active.special-link::after {
	transform: scaleX(1);
	transform-origin: left;
}

@media screen and (max-width: 768px) {
	.br {
		display: none;
	}
	.topnav a:not(:first-child) {
		display: none;
	}

		.logo img {
			width: 220px;
		}

	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnavContainer {
		min-height: 130px;
		padding-bottom: 100px;
	}

	.topnav {
		top: 60px;
	}
}

@media screen and (max-width: 768px) {
	.topnav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 90%;
		}

	.topnav.responsive {
		position: relative;
		display: block;
		min-height: 300px;
	}

	.topnav.responsive a.icon {
		position: absolute;
		right: 0px;
		top: 20px;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
		justify-content: left;
	}
}

.midsection {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-direction: column;
	align-items: center;
	grid-template-columns: 0.4fr 0.6fr;
	grid-template-rows: repeat(4, 1fr);
	/* 5 rows of equal height */
	gap: 0.5px;
	height: auto;
	margin-right: 10px;
}

.div-in-first-row {
	grid-row: 1;
}

.div-in-second-row {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	gap: 0.2px;
	grid-row: 2;
	margin: 10px;
	grid-column: span 2;
	border: none;
	width: 99%;
}

.div-in-second-row .card {
	max-height: 619px;
}

.div-in-third-row {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	margin: 10px;
	grid-row: 3;
	grid-column: span 2;
	border: none;
	width: 99%;
}

.div-in-fourth-row {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	margin: 10px;

	grid-row: 4;
	grid-column: span 2;
	border: none;
	width: 99%;
}

.midsectiontext {
	background-color: #fff;
	/* fixed background color */
	/* border: 1px solid #000;  fixed border */
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#systempic {
	display: block;
	width: 100%;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	/* margin-top: 10px; */
	border: 0.5px solid #000;
	/* fixed border */
}

.imagewrapper {
	grid-row: 1;
	grid-column: span 2;
	display: flex;
	margin: 20px;
	justify-content: center;
	/* align-items: center; */
}

.midpicture {
	border: 0.5px solid #000;
	/* fixed border */
	max-width: 100%;
	height: auto;
}

.midsectiontext p {
	font-style: normal;
}

.midsectiontext p,
.midsectiontext h1 {
	background-blend-mode: color-dodge;
	/* width: 500px;
  margin-left: 125px; */
	text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
	.midsection {
		grid-template-columns: 1fr;
		/* stack the items */
	}

	.midsectiontext p,
	.midsectiontext h1 {
		margin-left: 5%;
		/* reduce margin for small screens */
		max-width: 90%;
	}
}

body {
	margin-top: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
	border: none;
	font-family: "Open Sans", Times, serif;
}

section {
	width: 100%;
	height: auto;
	box-sizing: border-box;
}

.display-4.fw-bold.lh-1.text-body-emphasis {
	font-weight: 400 !important;
}

.footContainer {
	background-image: url("images/footer.avif");
	color: #333333;
	/* Darker gray text for contrast */
	padding: 30px 0;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	gap: 20px;
}

.footer-icon,
#footer-contact,
#footer-social,
#footer-form {
	flex: 1 1 100%;
	/* Make 100% width on all screen sizes initially */
}

@media (min-width: 768px) {
	/* Adjusting for tablet and desktop */
	#footer-contact,
	#footer-social,
	#footer-form {
		flex: 1;
		/* Allowing them to share the available width */
	}
}
.footContainer a {
	color: #000000;
	text-decoration: none;
}
.footContainer a:hover {
	color: #21d0b3;
}
.yellow-icon {
	color: #21d0b3;
	/* Yellow icon color */
}

/* Credit Section */
.credits {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #333333;
	/* Dark gray border */
	padding-top: 10px;
	margin-top: 30px;
	flex-wrap: wrap;
}

#credits-left,
#credits-right {
	margin: 5px 0;
}

/* Additional mobile responsiveness */
@media (max-width: 767px) {
	.wrapper,
	.credits {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	#credits-left,
	#credits-right {
		width: 100%;
	}
}
#footer-container h6 {
	color: #000000;
	/* Black header color */
	font-size: 30px;
	font-weight: bolder;
	/* Making header text bolder */
}
.header-social {
	margin-right: 15px;
	/* Moved margin-right here from inline style */
}

.header-social span {
	font-size: 24px;
	transition: font-size 0.3s ease-in-out;
}

.header-social:hover span {
	font-size: 28px;
}

#footer-form div {
	margin-bottom: 8px;
	/* Adjust as per requirement */
}

#footer-form a {
	color: #000;
	font-weight: bold;
	/* Dark color for visibility on light background */
	text-decoration: none;
}
#footer-form a:hover {
	font-size: 18px;
	color: #21d0b3;
}

/* strengths, why nexavix */
@keyframes left-move {
	50% {
		left: 0;
		width: 12px;
		height: 12px;
	}

	100% {
		left: 0;
		border-radius: 0;
		width: 50%;
		height: 100%;
	}
}

@keyframes right-move {
	50% {
		right: 0;
		width: 12px;
		height: 12px;
	}

	100% {
		right: 0;
		border-radius: 0;
		width: 50%;
		height: 100%;
	}
}

.main-title {
	color: #024172;
	margin: 0 auto 0px;
	/* border: 2px solid rgba(0, 0, 0, .01); */
	padding: 10px 20px;
	font-size: 40px;
	width: fit-content;
	position: relative;
	z-index: 1;
	transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
	content: "";
	width: 12px;
	height: 12px;
	background-color: var(--main-color);
	position: absolute;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}

.main-title::before {
	left: -30px;
}

.main-title::after {
	right: -30px;
}

.main-title:hover::before {
	z-index: -1;
	animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
	z-index: -1;
	animation: right-move 0.5s linear forwards;
}

.main-title:hover {
	color: white;
	border: 2px solid white;
	transition-delay: 0.5s;
}

.features {
	padding-top: var(--main-padding-top);
	position: relative;
	background-color: white;
}

.features .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
}

.features .box {
	text-align: center;
	border: 1px solid #ccc;
}

.features .box .img-holder {
	position: relative;
	overflow: hidden;
}

.features .box .img-holder::before {
	content: "";
	position: absolute;
	left: 0;
	top: -1px;
	width: 100%;
	height: 100%;
}

.features .box .img-holder::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	border-style: solid;
	border-width: 0px 0px 170px 500px;
	border-color: transparent transparent white transparent;
	transition: var(--main-transition);
}

.features .box .img-holder img {
	max-width: 100%;
}

.features .box:hover .img-holder::after {
	border-width: 170px 500px 170px 0;
}

.features .box h2 {
	position: relative;
	font-size: 40px;
	margin: auto;
	width: fit-content;
}

.features .box h2::after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 15px;
	height: 5px;
	width: calc(100% - 30px);
}

.features .box p {
	line-height: 2;
	font-size: 20px;
	margin: 30px 0;
	padding: 25px;
	color: #777;
}

.features .box a {
	display: block;
	border: 3px solid transparent;
	width: fit-content;
	margin: 0 auto 30px;
	font-weight: bold;
	font-size: 22px;
	padding: 10px 30px;
	border-radius: 6px;
	transition: var(--main-transition);
}

.features .quality .img-holder::before {
	background-color: rgb(240 171 0 / 60%);
}

.features .quality h2::after {
	background-color: #21d0b3;
}

.features .quality a {
	color: #21d0b3;
	border-color: #21d0b3;
	background: linear-gradient(to right, #21d0b3 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
}

.features .time .img-holder::before {
	background-color: rgb(137 137 137 / 60%);
}

.features .time h2::after {
	background-color: #024172;
}

.features .time a {
	color: #024172;
	border-color: #024172;
	background: linear-gradient(to right, #024172 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
}

.features .passion .img-holder::before {
	background-color: rgb(34 98 255 / 60%);
}

.features .passion h2::after {
	background-color: #2262ff;
}

.features .passion a {
	color: #2262ff;
	border-color: #2262ff;
	background: linear-gradient(to right, #2262ff 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
}

.features .box:hover a {
	background-position: left bottom;
	color: white;
}

@media screen and (max-width: 768px) {
	.notMobile {
		display: none;
	}
}

/* End Features */

.points-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 10px 100px;
}

.point {
	flex-basis: calc(25% - 20px);
	text-align: center;
	margin: 10px;
}
.point:hover {
	transform: scale(1.05);
	/* Enlarges the element a bit on hover */
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	/* Adds a subtle shadow for depth perception */
}
@media (max-width: 768px) {
	.point {
		flex-basis: calc(50% - 20px);
	}
}

@media (max-width: 480px) {
	.point {
		flex-basis: 100%;
	}
}

.point i {
	font-size: 44px;
	margin-bottom: 10px;
	color: #21d0b3;
}
.point i:hover {
	color: #024172 !important;
	/* Changes the color of the icon on hover */
}
.point h3 {
	margin-bottom: 20px;
}

.zBtn {
	background-color: #21d0b3;
	padding: 10px 35px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	border-radius: 10px;
	border: 2px solid #21d0b3;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	transition: 0.4s;
	font-size: 15px;
}

.zBtn span:last-child {
	display: none;
}

.zBtn:hover {
	transition: 0.4s;
	border: 2px solid #21d0b3;
	background-color: #fff;
	color: #21d0b3;
}

.zBtn:active {
	background-color: #21d0b3;
}
