html,
body {
    max-width: 100%;
}
#tabBar {
    display: flex;
    justify-content: center;
}

#tabBar button {
    background-color: transparent;
    color: #898989;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    font-size: 16px;
    border-radius: 25px;
    /* Adjusted for a more "button-like" feel */
    position: relative;
    overflow: hidden;
}

#tabBar button i {
    margin-right: 10px;
    color: #f4a71f;
}

/* Hover effects */
#tabBar button:hover {
    background-color: #f4a71f;
    transform: scale(1.05);
}
#tabBar button:hover i {
    color: #898989;
}


/* Active state */
#tabBar button.active {
    /* background-color: #f4a71f; */
    border-bottom: 2px solid #f4a71f;
    transform: scale(1.05);
    color:#000;
}
#tabBar button.active i {
    color: #000;
}

#content {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}