html,
body {
    max-width: 100%;
}
:root {
    --main-color: #f4a71f;
    --main-color-alt: #f4a71f;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
/* Start SAP intro */
.cool-container {
    color: #898989;
    background-color: #fff;
    padding: 30px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cool-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.cool-image:hover {
    transform: scale(1.05);
}

.cool-lead {
    font-size: 20px;
    line-height: 1.6;
    transition: color 0.3s ease-in-out;
}

.cool-container:hover .cool-lead {
    color: #f4a71f;
}
/* End SAP intro */
/* Flipbox */
.unique_services-box {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 16px;
    /* Added for spacing between grid items */
    /* background: #efefef; Grey background to make the orange pop out more */
    padding: 20px;
    /* Padding for the outer container */
}

.unique_service {
    margin: 8px;
}

.unique_service i {
    color: #f4a71f;
    /* A yellow shade */
    font-size: 32px;
    /* Adjust size as needed */
    margin-bottom: 10px;
    /* Space between icon and text */
    transition: color 0.3s ease;
    /* Smooth color transition */
}

.unique_flip-box {
    /* background-color: #FFFFFF; Made the flip box background white for a clean look */
    width: 380px;
    height: 150px;
    border: 2px solid #f4a71f;
    /* Orange border for distinction */
    border-radius: 10px;
    perspective: 1000px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    /* Added subtle shadow for depth */
}

.unique_flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    display: flex;
    justify-content: center;
    align-items: center;
}

.unique_flip-box:hover .unique_flip-box-inner {
    transform: rotateY(180deg);
}

.unique_flip-box-front,
.unique_flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.unique_flip-box-front {
    background-color: #fff;
    color: #898989;
    /* Grey color for the text */
    border-radius: 10px;
    border-top: 4px solid #f4a71f;
    /* Orange top border for a sleek look */
    border-bottom: 4px solid #f4a71f;
    /* Orange bottom border */
}

.unique_flip-box-front img {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    /* Spacing between the image and text */
}

.unique_flip-box-back {
    background-color: #fff;
    color: #898989;
    /* Grey color for the text */
    border-radius: 10px;
    border-top: 4px solid #f4a71f;
    /* Orange top border for a sleek look */
    border-bottom: 4px solid #f4a71f;
    /* White text for better readability against the orange background */
    transform: rotateY(180deg);
    border-radius: 10px;
    padding: 16px;
}

/* FlipBoxes Responsivness */
@media (max-width: 768px) {

    /* Adjust this breakpoint if necessary */
    .unique_services-box {
        grid-template-columns: 1fr;
        /* Only one column on mobile */
        padding: 0px;
        /* Reduced padding for mobile */
        width: 100%;
    }

    .unique_flip-box {
        width: 100%;
        /* Make the flip box full width on mobile */
        margin: 0 auto;
        /* Center the flip box if max-width is set */
    }
}
/* End flip box */
/* start why SAP B1 */
.points-container {
    display: flex;
    justify-content: space-between;
    /* Add some space between the columns */
    flex-wrap: wrap;
    padding: 10px 100px;
    /* Allows the items to wrap to new lines on smaller screens */
}

.point {
    flex-basis: calc(25% - 20px);
    /* Calculate the width of each box minus margin */
    text-align: center;
    /* Center the content */
    margin: 10px;
    /* Add some outer spacing */
}
.point:hover {
    transform: scale(1.05);
    /* Enlarges the element a bit on hover */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    /* Adds a subtle shadow for depth perception */
}
/* Responsive Design for smaller screens */
@media (max-width: 768px) {
    .point {
        flex-basis: calc(50% - 20px);
        /* Make it two columns on medium screens */
    }
}

@media (max-width: 480px) {
    .point {
        flex-basis: 100%;
        /* Make it single column on small screens */
    }
}

/* Style for the icons and texts */
.point i {
    font-size: 24px;
    margin-bottom: 10px;
    /* Add some space below the icon */
}
.point i:hover {
    color: #898989 !important;
    /* Changes the color of the icon on hover */
}
.point h3 {
    margin-bottom: 20px;
    /* Add some vertical space */
}
/* End Why SAP B1 */
/* Start Content Container */
.contentContainer {
    display: flex;
    justify-content: space-between;
}

.videoContainer{
    width: 45%;
}
.videoText {
    width: 50%;
}

.videoContainer video {
    width: 100%;
    border-radius: 10px;
    border: 4px solid #f4a71f;
    margin-left: 100px;
}

.videoText {
    color: #898989;
    font-size: 3em;
    padding: 9% 0px;
    /* Optional: for some space around the text */
}

/* End Content Container */
