html,
body {
	max-width: 100%;
}

h1,
p,
li {
	color: #024172;
}

#tabBar {
	display: flex;
	justify-content: center;
}

#tabBar button {
	background-color: transparent;
	color: #024172;
	padding: 10px 20px;
	margin: 5px;
	cursor: pointer;
	border: none;
	transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
	font-size: 16px;
	border-radius: 25px;
	/* Adjusted for a more "button-like" feel */
	position: relative;
	overflow: hidden;
}

#tabBar button i {
	margin-right: 10px;
	color: #21d0b3;
}

/* Hover effects */
#tabBar button:hover {
	background-color: #21d0b3;
	transform: scale(1.05);
}

#tabBar button:hover i {
	color: #024172;
}

/* Active state */
#tabBar button.active {
	border-bottom: 2px solid #21d0b3;
	transform: scale(1.05);
	color: #024172;
}

#tabBar button.active i {
	color: #024172;
}

#content {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #ccc;
}
@media only screen and (max-width: 768px) {
	#tabBar {
		flex-direction: column;
		align-items: center; /* Centers items when in a column layout */
	}
	#tabBar button {
		align-self: flex-start; /* Aligns buttons to the start when in a column layout */
	}
	.container {
		margin-top: 66px;
	}
}
